/* Felidays Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Variables */
:root {
  /* Colors */
  --red: #f6442d;
  --orange: #d3761e;
  --yellow: #e8c142;
  --green: #76a830;
  --lightGreen: #a8c142;
  --blue: #1e6f8a;
  --purple: #813474;
  --white: #ffffff;
  --black: #000000;
  --cream: #f3f1d8;
  --darkBrown: #4a2727;
  --lightBrown: #744c43;
  --lighterBrown: #b18975;
}

/* General */
body {
  font-family: 'Nunito', sans-serif;
  background-image: url("Assets/Images/Debug/debugBackground.png");
  background-size: cover;
  color: var(--darkBrown);
}

.content {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background: var(--cream);
  border-left: solid;
  border-right: solid;
  border-color: var(--darkBrown);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.page {
  padding: 15px;
  margin-top: 25px;
}

.header {
  background: linear-gradient(to bottom, var(--lightBrown), var(--darkBrown));
  color: var(--cream);
  padding: 15px;
  height: 75px;
}

.header a {
  color: var(--cream);
  text-decoration: none;
}

.footer {
}

a {
  font-weight: bold;
  transition: transform 0.1s ease;
  color: var(--green);
}

a:hover {
  transform: scale(1.05) rotate(-2deg) skew(2deg);
  text-decoration: none;
  color: var(--lightGreen);
}

/* Utilities */
.debug {
  border: solid 3px red;
}

/* Buttons */
.btn {
  background: linear-gradient(to bottom, var(--lightBrown), var(--darkBrown));
  border: none;
  border-radius: 15px;
  color: var(--cream);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease;
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    var(--lighterBrown),
    var(--lightBrown)
  );
  color: var(--white) !important;
  transform: scale(1.05) rotate(-2deg) skew(2deg);
}

/* User Hud */

.userHud {
  text-align: right;
}
.userUtility {
  justify-content: right;
}

#username {
  transition: transform 0.1s ease;
}
#username:hover {
  transform: scale(1.05) rotate(-2deg) skew(2deg);
}

#userInbox {
  transition: transform 0.1s ease;
}
#userInbox:hover {
  transform: scale(1.05) rotate(-2deg) skew(2deg)!important;
}

#userHelp {
  transition: transform 0.1s ease;
}
#userHelp:hover {
  transform: scale(1.05) rotate(-2deg) skew(2deg)!important;
}

#userLogout {
  transition: transform 0.1s ease;
}
#userLogout:hover {
  transform: scale(1.05) rotate(-2deg) skew(2deg)!important;
} 

#logo img {
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
  margin-left: -25px;
}